.container{
    padding: 0px 100px;
}
.top{
    display: flex;
    margin-top: 50px;
}
.a-1{
    display: flex;
}
.a-1-1{
    list-style: none;
    margin: 0px;
}
.a-1-1 li{
    float: left;
    padding-right: 40px;
    padding: 20px 0px;
    margin-right: 40px;
}
.a-1-2{
    border: 1px solid black;
    margin: 10px 0px;
    margin-left: 100px;
    padding: 10px 0px;
    padding-left: 10px;
    padding-right: 193px;
    
}
.a-2{
    display: flex;
    background-color: orange;
    padding: 21px 0px;
    color: white;
}
.a-2-1{
    list-style: none;
    margin: 0px;
    
}
.a-2-1 li{
    float: left;
    padding-right: 40px;
}
.body-1{
    margin-top: 10px;
}
.body-2{
    display: flex;
}
.content-left{
    margin-right: 4px;
    position:relative;
}
.text{
    position:absolute;
    color: white;
    margin-left: 30px;
    top: 400px;
}
.text-1{
    font-size: 30px; 
}
.text-2{
    margin-top: 120px;
}
.bott{
    display: flex;
}
.bott-1{
    margin-right: 3px;
}

.content-right{
    
    position:relative;
}
.textt{
    color: white;
    position:absolute;
    top: 180px;
}
.text-3{
    font-size: 30px;
    margin-top: 60px;
    margin-left: 30px;
}
.text-4{
    font-size: 20px;
    margin-top: 47%;
    margin-left: 30px;
}
.text-5{
    font-size: 20px;
    margin-top: 45%;
    margin-left: 30px;
}
.body-3{
    display:flex;
    margin-top: 40px;
}
.news{
    font-size: 24px;
    color:orange;
    border-bottom: 1px solid orange;
    margin-right: 800px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.news-1{
    display:flex;
}
.new-post{
    font-size: 24px;
    color:orange;
    border-bottom: 1px solid orange;
    padding-bottom: 10px;
    margin-right: 140px;
    margin-bottom: 20px;
}
.l-img{
    padding-right: 30px;
    padding-bottom: 40px;
}
.b-1{
    margin-top: 10px;
    font-size: 22px;
    padding-bottom: 17px;
}
.b-2{
    color:gray;
    font-size: 15px;
    padding-bottom: 17px;
}
.b-3{
    font-size: 16px;
    color:rgb(75, 75, 75);
}
.c{
    margin-top: 10px;
    padding: 25px 0px;
    border-bottom: 1px dotted rgb(229, 229, 229);
    margin-right: 50px;
}
.c-c{
    margin-top: 10px;
    padding: 25px 0px;
}
.more{
    margin-left: 38%;
    border: 1px solid gray;
    color: gray;
    margin-right: 54%;
    padding: 5px 0px;
    padding-left: 10px;
}
.footer{
    margin-top: 60px;
    display:flex;
    background-color: rgb(78, 78, 78);
    color: white;
    padding: 70px 170px;
}
.abt-us{
    padding-right: 90px;
}
.a-u-1{
    font-size: 23px;
    padding-bottom: 40px;
}
.a-u-2{
    font-size: 18px;
    padding-bottom: 30px;
}
.cpr{
    background-color: black;
    color:white;
    padding: 10px 0px;
    padding-left: 170px;
}
